.cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    max-width: var(--max-width);

    padding: 2rem;

    margin-left: auto;
    margin-right: auto;
}

.optionsContainer {
    display: flex;
    justify-content: space-between;
}

.filtersMenu {
    position: relative;
    display: flex;
    gap: 2rem;
}

.filterSortContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.filtersMobile {
    display: none;
    transition: all 0.3s;
}

.filtersMobile:hover {
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.exitMenuButton {
    position: absolute;
    top: 0;
    right: 0;

    display: none;
    justify-content: center;

    padding: 0.2rem;
    margin: 0.5rem;
    border-radius: 100%;

    background-color: var(--second-color);
    fill: var(--white-color);

    transition: all 0.3s;
}

.exitMenuButton:hover {
    background-color: var(--gray-light-color);
    fill: var(--black-color);
    cursor: pointer;
}

.selectList {
    font-family: 'Nunito', 'Work Sans', 'Hind', sans-serif;
    font-size: var(--step--1);
    transition: box-shadow 0.3s ease;
}

.selectList:hover {
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
}

.selectText {
    font-size: var(--step--1);
    font-weight: normal;
}

.countriesContainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    /* justify-content: center; */
    /* justify-items: center; */
    /* align-content: center; */
    /* align-items: center; */
    gap: 2rem;
}

@media screen and (max-width: 1024px) {
    .optionsContainer {
        flex-direction: column;
        gap: 1rem;
    }

    .filtersMenu {
        gap: 1rem;
        justify-content: space-between;
    }

    .filterSortContainer>label {
        text-align: center;
    }

    .countriesContainer {
        grid-template-columns: repeat(2, minmax(40%, 1fr));
    }
}

@media screen and (max-width: 700px) {

    .optionsContainer {
        flex-direction: row;
        justify-content: space-between;
    }

    .filtersMenuContainer {
        display: none;
        justify-content: center;
        align-items: center;

        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.75);

    }

    .filterSortContainer {
        justify-content: space-between;
    }

    .isVisible {
        display: flex;
    }

    .filtersMenu {
        flex-direction: column;
        gap: 3rem;

        padding: 4rem 1.5rem;

        color: var(--white-color);
        background-color: var(--first-color);
    }

    .filtersMobile {
        display: flex;
        align-items: center;
    }

    .exitMenuButton {
        display: flex;
    }

    .countriesContainer {
        display: flex;
        flex-direction: column;
    }
}