.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.isOpen {
    display: flex;
}

.modalContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    width: 45rem;
    height: 40rem;
    /* padding: 0 1rem; */

    background-color: var(--bg-first-color);
    overflow-y: auto;
}

.modalHeader {
    position: sticky;
    top: 0;

    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    /* align-items: center; */
    /* gap: 0.5rem; */

    width: 100%;
}

.headerOptions {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

    padding: 0.5rem;

    /* border-radius: 0.3rem; */
    background-color: var(--first-color);
    /* box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5); */
}

.modalButton {
    font-size: var(--step--1);
    line-height: var(--step--1);

    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 0.3rem;

    color: var(--white-color);
    background-color: var(--second-color);
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}

.modalButton:hover {
    color: var(--black-color);
    background-color: var(--gray-light-color);
    cursor: pointer;
}

/* Contenedor de las banderas seleccionadas ventana modal */
.flagsContainer {
    position: sticky;
    top: 0;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(4.5rem, 1fr));
    gap: 1rem;
    overflow-y: auto;

    padding: 1rem;
    width: 100%;
    height: 9rem;

    /* border-radius: 0.3rem; */
    background-color: var(--white-color);
    box-shadow: inset 0 0.05rem 0.4rem 0.1rem rgba(0, 0, 0, 0.3);

    /* overflow-y: auto; */
}

/* Contenedor de cada bandera */
.imageContainer {
    /* Centrado de imagen ampliada */
    display: flex;
    /* justify-content: center;
    align-items: center; */

    width: 100%;
    height: 3rem;

    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.4);
    /* overflow: hidden; */
    transition: opacity 0.3s ease;
}

.imageContainer:hover {
    opacity: 40%;
    cursor: pointer;
}

/* Ampliación de la imagen de bandera */
.images {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* aspect-ratio: 16 / 9; */
}

/* Contenedor de las tarjetas de los países */
.selectCardsContainer {
    display: grid;
    /* grid-template-columns: repeat(4, minmax(20%, 1fr)); */
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    width: 100%;
    gap: 1rem;
    padding: 0 1rem;
}


@media screen and (max-width: 1024px) {
    .modalContainer {
        width: 35rem;
    }

    .flagsContainer {
        grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
    }
}

@media screen and (max-width: 700px) {
    .modalContainer {
        width: 100%;
        /* height: 35rem; */
    }

    .flagsContainer {
        grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
        gap: 0.5rem;

        padding: 0.5rem;
        height: 6rem;
    }

    .imageContainer {
        height: 2rem;
    }

    .selectCardsContainer {
        grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
    }
}