.detailPage {
    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - var(--nav-height));

    background-image: url('../../../public/images/countries-map.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.detailContainer {
    display: grid;
    grid-template-columns: 60% 1fr;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;

    width: 55rem;
    padding: 2rem;

    background-color: var(--bg-second-alpha-color);
    box-shadow: inset 0 0.05rem 0.3rem rgba(0, 0, 0, 0.6);
}

.detailTitle {
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    transition: text-shadow 0.3s ease, font-size 0.3s ease;
}

.detailTitle:hover {
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
    cursor: default;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 17rem; */
}

.countryImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detailInfo {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    height: 100%;

}

.detailText {
    transition: all 0.3s;
}

.detailText:hover {
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
    cursor: default;
}


@media screen and (max-width: 1024px) {
    .detailContainer {
        display: flex;
        flex-direction: column;
        width: 40rem;
    }

    .imageContainer {
        width: 70%;
        height: auto;
    }

    .detailInfo {
        display: grid;
        grid-template-columns: 50% 1fr;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    .detailPage {
        height: calc(100vh - var(--nav-mobile-height));
    }

    .detailContainer {
        width: 100%;
    }

    .imageContainer {
        width: 100%;
    }

    .detailInfo {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }
}