.card {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 2rem;

    padding: 2rem 1rem;
    /* width: 100%; */
    height: 100%;

    border: 0;
    border-radius: 0.8rem;

    color: var(--black-color);
    background-color: var(--bg-second-color);
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);

    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: var(--bg-third-color);
}

.cardImage {
    width: 80%;
    height: auto;

    /* transition: all 0.3s; */
}

.cardImage:hover {
    /* width: 83%; */
}

.cardText {
    font-size: var(--step-0);
}

a {
    text-decoration: none;
}