.paginateContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    /* position:static; */
    /* left: 3rem; */
}

.numbers {
    font-size: var(--step--2);
    line-height: var(--step--2);
    /* text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2); */
}

.paginateButton {
    font-size: var(--step--2);
    line-height: var(--step--2);
    font-weight: bold;

    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;

    color: var(--white-color);
    background-color: var(--second-color);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);

    transition: all 0.3s;
}

.paginateButton:hover {
    color: var(--black-color);
    background-color: var(--gray-light-color);
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .paginateContainer {
        margin-left: auto;
        margin-right: auto;
    }

}


@media screen and (max-width: 700px) {
    .paginateContainer {
        margin: 0;
    }
}