.landingContainer {
    /* background-image: url('../../../public/images/countries-minimalist.jpg'); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100vh;
    
    color: var(--white-color);

    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.loaded {
    opacity: 1;
}

.wallpaperImg {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;

    max-width: 35rem;
    height: 15rem;
    padding: 2rem;
    z-index: 1;

    background-color: var(--gray-dark-alpha-color);
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}

.loginButton {
    font-size: var(--step-0);
    line-height: var(--step-0);
    text-shadow: 0.08rem 0.08rem 0.1rem rgba(0, 0, 0, 0.3);

    padding: 0.6rem 2.5rem;

    border: 0;
    border-radius: 0.3rem;
    background-color: var(--gray-light-color);

    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.4);

    transition: all 0.3s;
}

.loginButton:hover {
    color: var(--white-color);
    background-color: var(--first-color);
    cursor: pointer;
}

.loginButton:active {
    background-color: var(--gray-dark-color);
}

.welcomeText {
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.6);
}

.copy {
    /* position: absolute; */
    /* bottom: 0; */
    /* right: 0; */

    margin: 1rem;
    z-index: 1;

    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
}


@media screen and (max-width: 1024px) {}

@media screen and (max-width: 700px) {
    .loginContainer {
        gap: 1rem;
        padding: 1rem;
        border-radius: 0;
    }
}