.navBarSection {
    position: sticky;
    top: 0;
    z-index: 999;

    width: 100%;
    height: var(--nav-height);

    background-color: var(--first-color);
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);

}

.navBarContainerMain,
.navBarContainerAlt {
    display: flex;
    justify-content: space-around;
    align-items: center;

    max-width: var(--max-width);
    height: inherit;
    margin-left: auto;
    margin-right: auto;
}

.navBarContainerAlt {
    justify-content: flex-start;
    padding-left: 4rem;
}

.desktopButton {
    font-size: var(--step-0);
    line-height: var(--step-0);

    padding: 0.5rem 2rem;

    border: 0;
    border-radius: 0.3rem;

    color: var(--white-color);
    background-color: var(--second-color);
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
}


.mobileButton {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;

    background-color: var(--second-color);
    fill: var(--white-color);
    width: 2rem;
    height: 2rem;

    border-radius: 0.3rem;
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);

    transition: all 0.3s;
}

.desktopButton:hover,
.mobileButton:hover {
    background-color: var(--gray-light-color);
    color: var(--black-color);
    fill: var(--black-color);
    cursor: pointer;
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 700px) {

    .navBarSection {
        height: var(--nav-mobile-height);
    }

    .navBarContainerAlt {
        padding-left: 2rem;
    }

    .desktopButton {
        display: none;
    }

    .mobileButton {
        display: flex;
    }
}